<section>
    <div class="container">
      <div class="title">
        <h1>Web</h1>
        <img src="src/assets/avocado.png" alt="">
        <h1>Avo</h1>
      </div>
      <div class="articles-container">
      <template id="articleTemplate">
        <a href="/#/">
        <article class="article">
          <img src="var" alt="">
          <div class="article__text">
              <h2>var</h2>
              <p>var</p>
          </div>
        </article>
        </a>
      </template>
      </div>
  </div>
  </section>