/*********       Trae css de los archivos .css de la carpeta view      *********/
@import url("src/view/header/header.css");
@import url("src/view/footer/footer.css");
@import url("src/view/avoList/avoList.css");
@import url("src/view/avoDetail/avoDetails.css");
@import url("src/view/avoBasket/avoBasket.css");

/***** loader para ruiedita de carga ******/
@import url("src/assets/css/loader.css");


/*************************      Custom Properties       *************************/
:root{
    --font:"Raleway", sans-serif;
    --text-color:#222;
}

/*************************      Reset       *************************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration:none;
    color: black;
}

html{
    font-family: var(--font);
    font-size: 16px;
}

body{
    color:var(--text-color);
}   

/***************************** Components *********************************/


/****************************** Utilities ********************************/

.d-flex{
    display: flex;
}

.center-flex{
    display: flex;
    justify-content: center;
}
.column-flex{
    display: flex;
    flex-direction: column;
}

.gap-1{
    gap: 1rem;
}

@media only screen and (min-width: 768px){
    .container {
        width: 723px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    
}

/****************************** Site Styles ******************************/
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px; 
    margin: 2rem 0;
}
.title img{
    width: 3.5rem;
}


