<section >
    <div class="container">
        <div class="d-flex">
            <div> 
                <img src="{{imagen}}" alt="">
            </div>
            <div class="center-flex column-flex">
                <h2>{{name}}</h2>
                <p>Precio: {{price}}</p><br>
                <p>SKU:{{sku}}</p>
                <div class="button-content">
                    <input type="number" id="cantAvocado" name="cantidad" min="1" value="1">
                    <button id="addAvo" class="addButton">A la Canasta</button>
                </div>
            </div>
        </div>
        <div>
            <h2>Sobre esta palta</h2>
            <p>{{descripcion}}</p>
        </div>

    </div>

</section>