#cantAvocado{
    padding-left: 0.5rem;
}

.button-content{
    display: flex;
    height: 2rem;
    
}

.addButton{
    background-color: #16AB39;
    color: white;
    border: none;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.addButton:active{
    background-color: #0d7024;
}

.detail-container{
    display: grid;
    padding: 0 1rem;

}

.detail-description{
    display: grid; 
    padding: 0 1rem;
    margin: 2rem 0;
}

@media only screen and (min-width: 768px) {
    .detail-container{
       grid-template-columns: 50% 50% ;
       align-items: center;
    }
}