<header class="header">
    <div class="header__container container">
      <a href="/#/avoList" class="header__a">
      <div class="header__icon-container icon--selected">
        <img class="header__icon" src="src/assets/avocado.png" alt="">
        <h4>Avo Store</h4>
      </div>
      </a>
      <a href="/#/avoBasket" class="header__a">
      <div class="header__icon-container">
        <img class="header__icon" src="src/assets/basket.png" alt="">
        <h4>Canasta</h4>
      </div>
      </a>
    </div>
</header>