<footer class="footer">
    <div class="container"> 
      <div class="footer__container">
        <div>
          <h4>Nosotros</h4>
          <p>Conoce más</p>
        </div>
        <div>
          <h4>Servicios</h4>
          <p>Todos los productos</p>
        </div>
        <div>
          <h4>Hecho para</h4>
          <p>Curso Programación Web Full Stack por Carlos Franco</p>
          <div class="d-flex gap-1">
            <i class="fa-brands fa-twitter"></i>
            <p>Twitter</p>
          </div>
          <div class="d-flex gap-1">
            <i class="fa-brands fa-github"></i>
            <p>Github</p>
          </div>
        </div>
      </div>
    </div>
  </footer>