<section >
    <div class="container">
        <div class="articles-basket">
            
            <template id="articleBasketTemplate">
                <article class="article-basket">
                    <div class="d-flex">
                        <div> 
                            <img class="imgAvoCart" src="(contenido dinamico)" alt="">
                        </div>
                        <div id="avoTextId" class="column-flex">  
                            <h2>(nombre)</h2> 
                            <p >(precio y cantidad)</p>
                        </div>
                    </div>
                    <div class="btnRemove-conteiner">
                        <button class="btnRemove">X</button>
                    </div>
                    
                </article>
            </template>
          
        </div>
    </div>
</section>